* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
  display: block;
  text-decoration: none;
}
.hidden {
  display: none !important;
}
/* 主题颜色 */
.layout {
  font-size: 0.4375rem;
  color: #666;
}
input,
button {
  border: none;
  outline: none;
}
.layout {
  width: 100%;
  margin: 0 auto;
}
.layout .index_header {
  background-color: #23ac38;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.layout .index_header .logo {
  width: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout .index_header .header_menu {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout .index_swiper_row {
  position: relative;
}
.layout .index_swiper_row .main_menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem;
}
.layout .index_swiper_row .main_menu .menu_item {
  border: 0.03125rem solid currentColor;
  text-align: center;
  width: 30%;
  margin: 1%;
  padding: 0.15625rem;
}
